@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #333333;
  overflow: hidden;
}

hr {
  opacity: 0;
}

.App h1, .App h2, .App h3, .App h4, .App h5, .App h6, .App p, .App a {
  color: #e2e2e2;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.App .link:hover {
  color: #a3eeff;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.App .link_main:hover {
  color: #2a303e;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.App .opening_div {
  background-color: #161c32;
  margin: 0;
  margin-top: -10px;
  position: absolute;
  width: 100%;
  height: 75px;
  z-index: 3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 65px -21px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 65px -21px rgba(0, 0, 0, 0.69);
}

.App .text_box {
  width: 500px;
}

.App .rubrica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 5px;
  margin-top: 25px;
  margin-left: 15px;
}

.App .rubrica h3 {
  margin-left: 5px;
}

.App .rubrica h4 {
  line-height: 0px;
  margin-left: 25px;
  margin-top: 2px;
}

.App .rubrica h5 {
  margin-left: 35px;
  margin-top: -10px;
}

.nav {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.nav li {
  list-style-type: none;
  font-size: 35px;
  text-decoration: none;
  z-index: 2;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (max-width: 933px) {
  body, html {
    overflow-y: scroll !important;
  }
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    height: auto;
    width: 100%;
    z-index: 3;
    margin-top: 27px;
    background-color: #161c32;
    margin-top: 50px !important;
  }
  .nav li {
    font-size: 20px;
    top: auto !important;
    left: auto !important;
  }
  .rubrica {
    text-align: center;
  }
  .rubrica h3 {
    margin-left: 0 !important;
  }
  .rubrica h4 {
    line-height: 0px;
    margin-left: 0 !important;
    margin-top: 2px;
  }
  .rubrica h5 {
    margin-left: 0 !important;
    margin-top: -10px;
  }
  .text_box {
    width: 100% !important;
  }
  .projects h2 {
    font-size: 25px !important;
  }
  .projects h1 {
    font-size: 35px !important;
  }
}

@media screen and (max-width: 659px) {
  .nav {
    margin-top: 63px !important;
  }
  .content {
    margin-top: 165px !important;
  }
}

.App-link {
  color: #61dafb;
}

.ciao_text {
  margin-top: 250px;
  -webkit-transition: margin .5s;
  transition: margin .5s;
}

.ciao_text_hold {
  margin-top: 0px;
  -webkit-transition: margin .5s;
  transition: margin .5s;
}

@-webkit-keyframes trans {
  from {
    margin-left: -1000px;
    margin-right: 1000px;
  }
  to {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@keyframes trans {
  from {
    margin-left: -1000px;
    margin-right: 1000px;
  }
  to {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 388px) {
  .nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .nav li {
    margin: 10px auto;
  }
  .content {
    margin-top: 235px !important;
  }
}
/*# sourceMappingURL=App.css.map */